<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Best Payment Gateway | Free set up No hidden charges | AppXpay</title>
  <meta name = "description" content="appxpay is a leading payment gateway for India. our servcies like payment gateway, Rpay Mudra, Rpay Punji, Rpay Tej, Rpay Wallet etc. appxpay provides Zero setup cost & Zero maintenance cost, and It is trusted by many customers across india">
  <meta name = "keywords" content="best online payment gateway, best payment gateway, e payment gateway, best payment gateway in India, ecommerce payment gateway, free payment gateway, free payment gateway for website, international payment gateway, internet payment gateway, payment gateway companies, payment gateway for individuals, payment gateway in php, payment gateway integration, payment gateway providers, payment gateway solutions, payment gateways, payment processing companies, top payment gateways, payment gateways, payment gateway providers">
  <base href="/">

  <!-- Favicons -->
  <link href="assets/img/android-chrome-192x192.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

    <!----Google Site Verifivation-->
<meta name="google-site-verification" content="ar6-vyQulRI-o0wurQapq3Dmwsak0SrBrO1IESoqIrg" />
<!----Google Site Verifivation-->  


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177386849-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-177386849-1');
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "AppXpay",
    "url": "https://appxpay.com/",
    "logo": "https://appxpay.com/new/img/appxpay-admin-logo.png",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "7358501150",
      "contactType": "customer service",
      "contactOption": "TollFree",
      "areaServed": "IN",
      "availableLanguage": "en"
    },
    "sameAs": [
      "https://www.facebook.com",
      "https://twitter.com",
      "https://www.linkedin.com",
      "https://www.instagram.com"
    ]
  }
  </script>


   
  <!-- Code CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
   <link href="assets/code/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/code/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/code/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/code/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
 


   <link rel="stylesheet" href="assets/css/all.css"> 
   
   

  <!-- Template Main CSS File -->
  
  <link href="assets/css/style.css" rel="stylesheet">
 
  
 

<link rel="stylesheet" href="styles.61cb185272e0d8cee9a1.css"></head>

<body>

 

  <!-- code JS Files -->
  <app-root>
    <div id="preloader"></div>
  </app-root>
 
 
   <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="assets/code/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/code/jquery.easing/jquery.easing.min.js"></script>

  <script src="assets/code/counterup/counterup.min.js"></script>
  <script src="assets/code/owl.carousel/owl.carousel.min.js"></script>

  
  
  <script src="assets/js/main2.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="runtime-es2015.1eba213af0b233498d9d.js" type="module"></script><script src="runtime-es5.1eba213af0b233498d9d.js" nomodule defer></script><script src="polyfills-es5.9e286f6d9247438cbb02.js" nomodule defer></script><script src="polyfills-es2015.690002c25ea8557bb4b0.js" type="module"></script><script src="scripts.f927774f7ba244d693dd.js" defer></script><script src="main-es2015.de30be5da4ce07ac64ca.js" type="module"></script><script src="main-es5.de30be5da4ce07ac64ca.js" nomodule defer></script></body>

</html>